@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 150vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    background-color: black;
    background-repeat: no-repeat;
}

nav {
    margin-top: 15px;
    padding: 25px;
    width: 93vw;
    justify-self: center;
    background: hsl(240, 3%, 15%);
    color: silver;
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
    box-shadow: 0px 0px 4px rgb(181, 181, 181);
    backdrop-filter: blur(20px) contrast(2.5) brightness(10);
    /* border: 5px solid;
    border-image: linear-gradient(to left top,red,purple) 1 0 0 0;incompatible */
}

.websiteName {
    font-family: "Ubuntu", sans-serif;
    font-size: 38.6px;
}

.rightSide {
    width: 30%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    font-family: "Exo 2", sans-serif;
}

.rightSide a {
    color: silver;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease-out;
    padding: 0.8vw;
}

.rightSide a:hover {
    transform: scale(1.5vw);
    background: hsl(0, 0%, 20%);
    border-radius: 5px;
    box-shadow: 0px 0px 5px grey;
    transform: scale(1.1);
    color: rgb(202, 202, 202);
}

.intro {
    display: flex;
    row-gap: 17px;
    padding: 2vw;
    width: 92vw;
    height: 26vw;
    border-radius: 25px;
    align-items: start;
    background: hsl(240, 3%, 15%);
    box-shadow: 0px 0px 4px rgb(176, 176, 176);
    justify-content: space-evenly;
}

.introcomment {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-family: "Exo 2", sans-serif;
    font-weight: 500;
    font-size: 3.2vw;
    text-align: start;
    color: hsl(240, 1%, 62%);
    row-gap: 3vw;
}

img {
    width: 25vw;
    height: 25vw;
    border-radius: 40px;
}

.SkillHead {
    padding: 2vw;
    border-radius: 25px;
    width: 92vw;
    height: 29vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 12px;
    align-items: center;
    background: hsl(240, 3%, 15%);
    box-shadow: 0px 0px 4px rgb(176, 176, 176);
}

.SkillSection {
    display: flex;
    padding: 1.5vw;
    justify-content: center;
    align-items: center;
    background: hsl(240, 3%, 15%);
    column-gap: 25px;
    width: 90vw;
    height: 28vw;
}

.SkillSection .skls {
    display: flex;
    position: relative;
    padding: 1vw;
    flex-direction: column;
    align-items: center;
    border-radius:25px;
    width: 30vw;
    height: 22vw;
    box-shadow: 0px 0px 4px rgb(158, 158, 158);

}

.SkillSection img {
    position:absolute;
    top: -30px;
    width: 40px;
    height: 40px;
}

.name,
.carrier {
    color: rgb(136, 107, 69);
}

.Skills {
    font-size: 28px;
    font-family: "Exo 2", sans-serif;
    font-weight:650;
    color: rgb(178, 183, 188);
}

@media(max-width:900px) {
    nav {
        width: 86vw;
        height: 50px;
    }

    .websiteName {
        font-size: 27px;
        text-wrap: wrap;
    }

    .rightSide {
        flex-wrap: wrap;
        flex: 0 0 45%;
        font-size: 19.7px;
    }

    .intro {
        align-items: center;
        flex-wrap: wrap;
        flex: 0 0 50rem;
        width: 87vw;
        height: auto;
    }

    .introcomment {
        text-align: center;
        font-size: 40px;
        width: auto;
    }

    img {
        width: 350px;
        height: 350px;
    }
    .SkillHead
    {
        width:86vw;
        height:auto;
        row-gap: 30px;
    }
    .SkillSection
    {
        flex-direction: column;
        flex-wrap: wrap;
        width:75vw;
        height:auto;
        flex-wrap: wrap;
        row-gap: 40px;
    }
    .SkillSection .skls
    {
        width: 40vh;
        height:45vh;
    }
}